<ul>
  <% @flights.each do |flight| %>
    <li><%= flight.number %></li>
      <% unless flight.passengers.empty? %>
        <ul class="flight-<%= flight.number %>-passengers">
          <% flight.passengers.each do |passenger| %>
            <li><%= passenger.name %><%= link_to 'Cancel Flight', "/passenger_flights/#{flight.find_passenger_flight_id(passenger.id)}", method: "delete" %></li>
          <% end %>
        </ul>
      <% end %>
  <% end %>
</ul>
